<div class="container d-flex justify-content-center mt-3">
  <div class="row">
    <%= image_tag 'mrcocktail.png', alt: 'Main logo', width: 500 %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip">
          <img src="<%= cocktail.image_url %>" />
          <div class="card-trip-infos">
            <div>
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

