<div class="container margins">
  <div class="row typed-banner">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container d-flex justify-content-center margins">
  <div class="row">
    <%= image_tag 'mrcocktail.png', alt: 'Main logo', width: 500 %>
  </div>
</div>

<div class="container margins">
  <div class="row">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>


        <% if cocktail.photo.attached? %>
          <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <% elsif cocktail.image_url %>
            <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cocktail.image_url %>')">
        <% end %>


        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
