.navbar-lewagon {
  justify-content: space-between;
  background: #04113d;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-navbar {
  padding: 6px 20px;
  color: white;
  background-color: #F95659;
  border-radius: 8px;
  transition: 0.3s ease;

  &:hover{
    background-color: white;
    color: #F95659;
  }
}

.navbar-font {
  color: #F95659;
  font-size: 22px;
}
