// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$pink: #F95659;
$blue: #04113d;

body {
  background-color: $pink;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.margins {
  margin-top: 100px;
}

.typed-banner {
  display: flex;
  justify-content: center;
}

#banner-typed-text {
  color: white;
  font-size: 32px;
}


// html, body {
//   height: 100%;
// }
// body {
//   display: flex;
//   flex-direction: column;
// }
// // .content {
// //   flex: 1 0 auto;
// // }
// .footer {
//   flex-shrink: 0;
// }
